<div class="subscription-payment" >
  <div class="row">
    <div class="col-sm-12">
      <div class="btns-monthly-annual">
        <button  (click)="monthly = true" class="btn btn-primary btn-left-radius monthly-pricing">Monthly Pricing</button>
        <button (click)="monthly = false" class="btn btn-primary btn-right-radius annual-pricing"><span class="txt-annual-pricing">Annual Pricing</span><span class="txt-save-10">Save 10%</span> </button>
      </div>
    </div>
  </div>
  <div *ngIf="monthly">
    <div class="row" *ngIf="paymentService.plans">
       <div *ngFor="let plan of paymentService.plans | orderBy; let current = index"  [ngClass]="{'card-container':plan.frequency === 'month'}">
        <div  *ngIf="plan.frequency == 'month'">
          <div   class="card text-xs-center" (click)="openHandler(plan.name, plan.description, plan.stripePrice, plan.plan)">
            <div *ngIf="current === 5" class="most-popular">Most Popular</div>
            <div *ngIf="current === 9" class="recommend-for-agencies">Recommend for Agencies</div>
            <div class="card-header">
              <div class="pricing-plan"><span [ngStyle]="{'font-weight':current === 4 ? 'bold' : 'normal' }"><span class="currency" [ngStyle]="{'font-weight':current === 4 ? 'bold' : 'normal' }">£</span>{{plan.price}}</span><span class="period">per {{plan.frequency}}</span></div>
            </div>
            <div class="card-block">
              <div>
                <span class="txt-card-description"><b>{{plan.credits}}</b> clip credits per {{plan.frequency}}</span>
                <span class="txt-card-description">You can upload <b>{{plan.storage}}GB</b> of data to your library.</span>
                <span class="txt-card-description">Create unlimited videos*</span>
              </div>
              <button *ngIf="!loggedIn" class="btn btn-primary btn-purchase">Purchase</button>
              <button *ngIf="loggedIn" class="btn btn-primary btn-purchase">Update</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!monthly">
      <div class="row" *ngIf="paymentService.plans">
        <div *ngFor="let plan of paymentService.plans | orderBy; let current = index"  [ngClass]="{'card-container':plan.frequency === 'year'}">
            <div  *ngIf="plan.frequency == 'year'">
              <div   class="card text-xs-center" (click)="openHandler(plan.name, plan.description, plan.stripePrice, plan.plan)">
                <div *ngIf="current === 4" class="most-popular">Most Popular</div>
                <div *ngIf="current === 8" class="recommend-for-agencies">Recommend for Agencies</div>
                <div class="card-header">
                  <div class="pricing-plan"><span [ngStyle]="{'font-weight':current === 5 ? 'bold' : 'normal' }"><span class="currency" [ngStyle]="{'font-weight':current === 5 ? 'bold' : 'normal' }">£</span>{{plan.price}}</span><span class="period">per {{plan.frequency}}</span></div>
                </div>
                <div class="card-block">
                  <div>
                    <span class="txt-card-description"><b>{{plan.credits}}</b> clip credits per {{plan.frequency}}</span>
                    <span class="txt-card-description">You can upload <b>{{plan.storage}}GB</b> of data to your library.</span>
                    <span class="txt-card-description">Create unlimited videos*</span>
                  </div>
                  <button class="btn btn-primary btn-purchase">Purchase</button>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>




<!--Monthly-->
      <!--<div class="card-container">
        <div class="card text-xs-center" (click)="openHandler('Starter', 'Starter Plan', 1900, 'starter')">
          <div class="card-header">
            <div class="pricing-plan"><span class="currency">£</span>19<span class="period">per month</span></div>
          </div>
          <div class="card-block">
            <div>
              <span class="txt-card-description"><b>10</b> clip credits per month</span>
              <span class="txt-card-description">You can upload <b>5GB</b> of data to your library.</span>
              <span class="txt-card-description">Create unlimited videos*</span>
            </div>
            <button class="btn btn-primary btn-purchase">Purchase</button>
          </div>
        </div>
      </div>
      <div class="card-container">
        <div class="card text-xs-center" (click)="openHandler('Basic', 'Basic Plan', 2900, 'basic')">
          <div class="card-header">
            <div class="pricing-plan"><span class="currency">£</span>29<span class="period">per month</span></div>
          </div>
          <div class="card-block">
           <div>
              <span class="txt-card-description"><b>16</b> clip credits per month</span>
              <span class="txt-card-description">You can upload <b>10GB</b> of data to your library.</span>
              <span class="txt-card-description">Create unlimited videos*</span>
            </div>
            <button class="btn btn-primary btn-purchase">Purchase</button>
          </div>
        </div>
      </div>
  
      <div class="card-container">
        <div class="card text-xs-center" (click)="openHandler('Popular', 'Popular Plan', 5900, 'popular')">
          <div class="most-popular">Most Popular</div>
          <div class="card-header">
            <div class="pricing-plan"><span class="currency bolder">£ 59</span><span class="period">per month</span></div>
          </div>
          <div class="card-block">
            <div>
              <span class="txt-card-description"><b>40</b> clip credits per month</span>
              <span class="txt-card-description">You can upload <b>20GB</b> of data to your library.</span>
              <span class="txt-card-description">Create unlimited videos*</span>
            </div>
            <button class="btn btn-primary btn-purchase">Purchase</button>
          </div>
        </div>
      </div>

      <div class="card-container">
          <div class="card text-xs-center" (click)="openHandler('Gold', 'Gold Plan', 11900, 'gold')">
            <div class="card-header">
              <div class="pricing-plan"><span class="currency">£ 119</span><span class="period">per month</span></div>
            </div>
            <div class="card-block">
              <div>
                <span class="txt-card-description"><b>80</b> clip credits per month</span>
                <span class="txt-card-description">You can upload <b>40GB</b> of data to your library.</span>
                <span class="txt-card-description">Create unlimited videos*</span>
              </div>
              <button class="btn btn-primary btn-purchase">Purchase</button>
            </div>
          </div>
        </div>

        <div class="card-container">
            <div class="card text-xs-center" (click)="openHandler('Platinum', 'Platinum Plan', 25000, 'platinum')">
              <div class="recommend-for-agencies">Recommend for Agencies</div>
              <div class="card-header">
                <div class="pricing-plan"><span class="currency">£250</span><span class="period">per month</span></div>
              </div>
              <div class="card-block">
                <div>
                  <span class="txt-card-description"><b>200</b> clip credits per month</span>
                  <span class="txt-card-description">You can upload <b>50GB</b> of data to your library.</span>
                  <span class="txt-card-description">Create unlimited videos*</span>
                </div>
                <button class="btn btn-primary btn-purchase">Purchase</button>
              </div>
            </div>
          </div>-->
  
    

  


<!--Year-->
      <!--<div class="card-container">
        <div class="card text-xs-center" (click)="openHandler('Starter', 'Starter Plan', 1900, 'starter-year')">
          <div class="card-header">
            <div class="pricing-plan"><span class="currency">£</span>17.1<span class="period">per year</span></div>
          </div>
          <div class="card-block">
            <div>
              <span class="txt-card-description"><b>10</b> clip credits per month</span>
              <span class="txt-card-description">You can upload <b>5GB</b> of data to your library.</span>
              <span class="txt-card-description">Create unlimited videos*</span>
            </div>
            <button  class="btn btn-primary btn-purchase">Purchase</button>
          </div>
        </div>
      </div>
      <div class="card-container">
        <div class="card text-xs-center" (click)="openHandler('Basic', 'Basic Plan', 2900, 'basic-year')">
          <div class="card-header">
            <div class="pricing-plan"><span class="currency">£</span>26.1<span class="period">per year</span></div>
          </div>
          <div class="card-block">
           <div>
              <span class="txt-card-description"><b>16</b> clip credits per month</span>
              <span class="txt-card-description">You can upload <b>10GB</b> of data to your library.</span>
              <span class="txt-card-description">Create unlimited videos*</span>
            </div>
            <button class="btn btn-primary btn-purchase">Purchase</button>
          </div>
        </div>
      </div>
  
      <div class="card-container">
        <div class="card text-xs-center" (click)="openHandler('Popular', 'Popular Plan', 5900, 'popular-year')">
          <div class="most-popular">Most Popular</div>
          <div class="card-header">
            <div class="pricing-plan"><span class="currency bolder">£ 53.1</span><span class="period">per year</span></div>
          </div>
          <div class="card-block">
            <div>
              <span class="txt-card-description"><b>40</b> clip credits per month</span>
              <span class="txt-card-description">You can upload <b>20GB</b> of data to your library.</span>
              <span class="txt-card-description">Create unlimited videos*</span>
            </div>
            <button class="btn btn-primary btn-purchase">Purchase</button>
          </div>
        </div>
      </div>

      <div class="card-container">
          <div class="card text-xs-center" (click)="openHandler('Gold', 'Gold Plan', 11900, 'gold-year')">
            <div class="card-header">
              <div class="pricing-plan"><span class="currency bolder">£ 107.1</span><span class="period">per year</span></div>
            </div>
            <div class="card-block">
              <div>
                <span class="txt-card-description"><b>80</b> clip credits per month</span>
                <span class="txt-card-description">You can upload <b>40GB</b> of data to your library.</span>
                <span class="txt-card-description">Create unlimited videos*</span>
              </div>
              <button class="btn btn-primary btn-purchase">Purchase</button>
            </div>
          </div>
        </div>

        <div class="card-container">
            <div class="card text-xs-center"  (click)="openHandler('Platinum', 'Platinum Plan', 25000, 'platinum-year')">
              <div class="recommend-for-agencies">Recommend for Agencies</div>
              <div class="card-header">
                <div class="pricing-plan"><span class="currency bolder">£225</span><span class="period">per year</span></div>
              </div>
              <div class="card-block">
                <div>
                  <span class="txt-card-description"><b>200</b> clip credits per month</span>
                  <span class="txt-card-description">You can upload <b>50GB</b> of data to your library.</span>
                  <span class="txt-card-description">Create unlimited videos*</span>
                </div>
                <button class="btn btn-primary btn-purchase">Purchase</button>
              </div>
            </div>
          </div>-->
  
    

<!--
   
    <button (click)="clearPlan()" class="btn btn-gradient mt-2">Clear Plan</button>
    <br>
    
<pre>
  {{ paymentService.myplan | json }}
</pre>


<pre>
  {{ paymentService.plans | json }}
</pre>
    <pre>
      {{paymentService.membership | json}}
    </pre>
    <div *ngIf="paymentService.membership.status && paymentService.membership.status == 'active'">
        <h3>Subscription is Active</h3>
    </div>

  </div>-->