<div class="subscription-payment" >
  <div class="row">
    <div class="col-sm-12">
      <div class="btns-monthly-annual">
        <button class="btn btn-primary monthly-pricing">Monthly Pricing</button>
      </div>
    </div>
  </div>
  <div>
    <div class="row" *ngIf="paymentService.plans">
      <div *ngFor="let plan of paymentService.plans | orderBy; let current = index"  [ngClass]="{'card-container':plan.frequency === 'month'}">
        <div  *ngIf="plan.frequency == 'month'">
          <div   class="card text-xs-center" (click)="openHandler(plan.name, plan.description, plan.stripePrice, plan.plan)">
            <div *ngIf="current === 2" class="most-popular">Most Popular</div>
            <div *ngIf="current === 4" class="recommend-for-agencies">Recommend for Agencies</div>
            <div class="card-header">
              <div class="pricing-plan"><span [ngStyle]="{'font-weight':current === 5 ? 'bold' : 'normal' }"><span class="currency" [ngStyle]="{'font-weight':current === 5 ? 'bold' : 'normal' }">£</span>{{plan.stripePrice/100}}</span><span class="with-vatprice">£ {{plan.priceWithVat/100}} including VAT </span><span class="period">per {{plan.frequency}}</span></div>
            </div>
            <div class="card-block">
              <div>
                <span class="txt-card-description"><b>{{plan.credits}}</b> clip credits per {{plan.frequency}}</span>
                <span class="txt-card-description">You can upload <b>{{plan.storage}}GB</b> of data to your library.</span>
                <span class="txt-card-description">Create unlimited videos*</span>
              </div>
              <button *ngIf="!loggedIn" class="btn btn-primary btn-purchase">Purchase</button>
              <button *ngIf="loggedIn" class="btn btn-primary btn-purchase">Update</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>





<!--
   
    <button (click)="clearPlan()" class="btn btn-gradient mt-2">Clear Plan</button>
    <br>
    
<pre>
  {{ paymentService.myplan | json }}
</pre>


<pre>
  {{ paymentService.plans | json }}
</pre>
    <pre>
      {{paymentService.membership | json}}
    </pre>
    <div *ngIf="paymentService.membership.status && paymentService.membership.status == 'active'">
        <h3>Subscription is Active</h3>
    </div>

  </div>-->