<div id="left-panel">
  <nav>
    <ul class='side-bar'>
        <li routerLinkActive="active"  routerLink="/editor/add-videos" ngClass="{{isAddVideo}}">
            <a title="Dashboard"> <span
              class="menu-item-parent">ADD VIDEO</span></a>
              <p> Find the perfect video clips</p>
        </li>
        <li routerLinkActive="active" routerLink="/editor/add-audios" ngClass="{{isAddMusic}}">
            <a title="Dashboard"> <span
              class="menu-item-parent">ADD MUSIC</span></a>
              <p>Select your track</p>
        </li>
        <li routerLinkActive="active" routerLink="/editor/add-voiceover" ngClass="{{isAddVoice}}">
            <a title="Dashboard"> <span
              class="menu-item-parent">ADD VOICEOVER</span></a>
              <p>Create your own voiceover</p>
        </li>
        <li routerLinkActive="active"  routerLink="/editor/edit-ad" ngClass="{{isEdit}}">
            <a title="Dashboard"> <span
              class="menu-item-parent">EDIT</span></a>
              <p>Add text and edit your advert</p>
        </li>  
        <li routerLinkActive="active" routerLink="/editor/export" ngClass="{{isBuild}}">
            <a title="Dashboard"> <span
              class="menu-item-parent">BUILD</span></a>
              <p>Publish your advert</p>
        </li> 
    </ul>
  </nav>
</div>