@import '../../../../core/styles/core-mixins';
p{
  &.col_description{
    margin-bottom: 0;
    height: 60px;
    padding-top: 18px;
    padding: 18px 5px 18px 0;
    font-size: 13px;
  }
}

.search-list{
  display: flex;
  flex-wrap: wrap;
  -webkit-padding-start: 0px;
  margin-bottom: 0px;
}
.search-item{
  padding: 4px 5px 0px 10px;
  list-style-type: none;
  border: 2px solid #1dbec4;
  font-size: 14px;
  margin: 5px;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  height: 30px;
}

.column{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 36px;
  height: 36px;
  margin: 12px 0px;
  .cell_2{
    width: 16px;
    height: 16px;
    margin: 1px;
    background-color: #8a8f90;
    &.active {
      background-color: #1dbec4;
    }
  }
  .cell_4{
    width: 10px;
    height: 10px;
    margin: 1px;
    background-color: #8a8f90;
    &.active {
      background-color: #1dbec4;
    }
  }
}

.search-container {
  .search-input, select {
    height: 60px;
    line-height: 25px;
    color: rgb(145, 145, 145);    
  }
  .search-group {
    border-bottom-right-radius: 60px;
    border-top-right-radius: 60px;
    display: flex;
    flex-wrap: wrap;
  }
  .input-group {
    padding: 0 0 10px 0;
    .input-group-addon {
      @include border-left-radius(60px);
      padding: 0 20px;
      span {
        &.fa {
          color: #1dbec4;
          font-size: 20px;
        }
      }
    }
    input {
      max-width: 100%;
      box-sizing:border-box;
      height: 40px;
      background-color: transparent;
      border: none;
      // @include border-right-radius(60px);
    }   
    
  } 
  
  select {
    @include appareance-prefix(none);
    @include border-radius-all(60px);
    outline: 0;
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, .15);
    width: 100%;
    padding: 0 0 0 20px;
    margin: 0;
    cursor: pointer;
    background-color: white;
    &::-ms-expand {
      display: none;
    }
  }
  .select {
    position: relative;
    display: block;
    overflow: hidden;
    background-color: white;
    &:hover{
      &::after{
        color: #1dbec4;
      }
    }
    &::after {
      content: '\25BC';
      position: absolute;
      top: 22px;
      right: 15px;
      bottom: 0;
      pointer-events: none;
      font-size: 12px;
      color: rgb(145, 145, 145);
      -webkit-transition: .25s all ease;
      -o-transition: .25s all ease;
      transition: .25s all ease;
    }
  }
}

.tab-group{
  display: flex;
  
  .tab{
    margin: 0 15px 0 15px;
  }
  .active{
    color: #1dbec4;
  }
}

.radio-group{
  display: flex;
  justify-content: flex-end;
  label{
    margin: 0 10px 0 10px;
  }
  input:checked ~ .checkmark {
    color: #1dbec4;
  }
  input[type=radio]:checked ~ .check::before{
    border-color: #0DFF92;
  }
}



