<section class="legal">
    <div class="row">
      <div class="col-sm-12">
        <div id="about" class="anchor"></div>
        <div class="legal-container">
          <h2>About Us </h2>
          <p>
            Lorem ipsum dolor sit amet, adipisci omittantur te mel. Id omnis vivendum usu, ut has vidisse contentiones, an intellegebat signiferumque mel. Quo illum homero appetere cu. Cum tempor iriure discere ea, at sea harum diceret tincidunt, ei cetero philosophia sed. Equidem repudiandae deterruisset qui ne, mea ei reque soleat theophrastus, iudico noster qualisque mea ne.
            Ut has sonet primis disputationi. Alii stet voluptua no vix, ne nulla voluptaria mei. Vis ne noster nostrud eligendi, et sint voluptatibus usu, congue repudiandae id est. Ne harum platonem gubergren usu, eam quidam debitis eu, usu platonem disputationi ei.
            Tibique suavitate similique ut sea, quodsi quaestio eam in. Has at regione electram adipiscing, nonumy sapientem persequeris nec in. Et volumus recteque mei, nostro adipisci necessitatibus at sed, porro audiam quo at. Ea duo erant simul incorrupte, ei vix ignota percipit, cu nisl doctus nec. Id vide nullam efficiendi nam, mei ei solum errem, tation soluta antiopam sed in.
            Eos ut ridens detraxit, agam virtute ad sea. Quis viris in vel. Mucius detracto luptatum ut eos, vis id postulant vulputate. Vix ut adhuc gloriatur, at dolore aperiri nostrud ius. Eos mollis prodesset ea, appetere invenire iracundia id eam. Usu expetenda mnesarchum ei.
            An pro dicat dicit tractatos, harum soluta dissentiet te sit. Ex abhorreant deterruisset consectetuer sea. Mel reque malis persius ne, et eam tation torquatos. Verear discere dignissim et usu, stet labitur ex pro, ex eos quis veritus dolores. No alia phaedrum his.
          </p>
        </div>
        <div id="terms" class="anchor"></div>
        <div class="legal-container">
          <h2>Terms &amp; Conditions  </h2>
          <p>
            Lorem ipsum dolor sit amet, adipisci omittantur te mel. Id omnis vivendum usu, ut has vidisse contentiones, an intellegebat signiferumque mel. Quo illum homero appetere cu. Cum tempor iriure discere ea, at sea harum diceret tincidunt, ei cetero philosophia sed. Equidem repudiandae deterruisset qui ne, mea ei reque soleat theophrastus, iudico noster qualisque mea ne.
            Ut has sonet primis disputationi. Alii stet voluptua no vix, ne nulla voluptaria mei. Vis ne noster nostrud eligendi, et sint voluptatibus usu, congue repudiandae id est. Ne harum platonem gubergren usu, eam quidam debitis eu, usu platonem disputationi ei.
            Tibique suavitate similique ut sea, quodsi quaestio eam in. Has at regione electram adipiscing, nonumy sapientem persequeris nec in. Et volumus recteque mei, nostro adipisci necessitatibus at sed, porro audiam quo at. Ea duo erant simul incorrupte, ei vix ignota percipit, cu nisl doctus nec. Id vide nullam efficiendi nam, mei ei solum errem, tation soluta antiopam sed in.
            Eos ut ridens detraxit, agam virtute ad sea. Quis viris in vel. Mucius detracto luptatum ut eos, vis id postulant vulputate. Vix ut adhuc gloriatur, at dolore aperiri nostrud ius. Eos mollis prodesset ea, appetere invenire iracundia id eam. Usu expetenda mnesarchum ei.
            An pro dicat dicit tractatos, harum soluta dissentiet te sit. Ex abhorreant deterruisset consectetuer sea. Mel reque malis persius ne, et eam tation torquatos. Verear discere dignissim et usu, stet labitur ex pro, ex eos quis veritus dolores. No alia phaedrum his.
          </p>
        </div>
        <div id="faqs" class="anchor"></div>
        <div class="legal-container">
          <h2>FAQs </h2>
          <p>
            Lorem ipsum dolor sit amet, adipisci omittantur te mel. Id omnis vivendum usu, ut has vidisse contentiones, an intellegebat signiferumque mel. Quo illum homero appetere cu. Cum tempor iriure discere ea, at sea harum diceret tincidunt, ei cetero philosophia sed. Equidem repudiandae deterruisset qui ne, mea ei reque soleat theophrastus, iudico noster qualisque mea ne.
            Ut has sonet primis disputationi. Alii stet voluptua no vix, ne nulla voluptaria mei. Vis ne noster nostrud eligendi, et sint voluptatibus usu, congue repudiandae id est. Ne harum platonem gubergren usu, eam quidam debitis eu, usu platonem disputationi ei.
            Tibique suavitate similique ut sea, quodsi quaestio eam in. Has at regione electram adipiscing, nonumy sapientem persequeris nec in. Et volumus recteque mei, nostro adipisci necessitatibus at sed, porro audiam quo at. Ea duo erant simul incorrupte, ei vix ignota percipit, cu nisl doctus nec. Id vide nullam efficiendi nam, mei ei solum errem, tation soluta antiopam sed in.
            Eos ut ridens detraxit, agam virtute ad sea. Quis viris in vel. Mucius detracto luptatum ut eos, vis id postulant vulputate. Vix ut adhuc gloriatur, at dolore aperiri nostrud ius. Eos mollis prodesset ea, appetere invenire iracundia id eam. Usu expetenda mnesarchum ei.
            An pro dicat dicit tractatos, harum soluta dissentiet te sit. Ex abhorreant deterruisset consectetuer sea. Mel reque malis persius ne, et eam tation torquatos. Verear discere dignissim et usu, stet labitur ex pro, ex eos quis veritus dolores. No alia phaedrum his.
          </p>
        </div>
        <div id="license" class="anchor"></div>
        <div class="legal-container">
          <h2>End User License </h2>
          <p>
            Lorem ipsum dolor sit amet, adipisci omittantur te mel. Id omnis vivendum usu, ut has vidisse contentiones, an intellegebat signiferumque mel. Quo illum homero appetere cu. Cum tempor iriure discere ea, at sea harum diceret tincidunt, ei cetero philosophia sed. Equidem repudiandae deterruisset qui ne, mea ei reque soleat theophrastus, iudico noster qualisque mea ne.
            Ut has sonet primis disputationi. Alii stet voluptua no vix, ne nulla voluptaria mei. Vis ne noster nostrud eligendi, et sint voluptatibus usu, congue repudiandae id est. Ne harum platonem gubergren usu, eam quidam debitis eu, usu platonem disputationi ei.
            Tibique suavitate similique ut sea, quodsi quaestio eam in. Has at regione electram adipiscing, nonumy sapientem persequeris nec in. Et volumus recteque mei, nostro adipisci necessitatibus at sed, porro audiam quo at. Ea duo erant simul incorrupte, ei vix ignota percipit, cu nisl doctus nec. Id vide nullam efficiendi nam, mei ei solum errem, tation soluta antiopam sed in.
            Eos ut ridens detraxit, agam virtute ad sea. Quis viris in vel. Mucius detracto luptatum ut eos, vis id postulant vulputate. Vix ut adhuc gloriatur, at dolore aperiri nostrud ius. Eos mollis prodesset ea, appetere invenire iracundia id eam. Usu expetenda mnesarchum ei.
            An pro dicat dicit tractatos, harum soluta dissentiet te sit. Ex abhorreant deterruisset consectetuer sea. Mel reque malis persius ne, et eam tation torquatos. Verear discere dignissim et usu, stet labitur ex pro, ex eos quis veritus dolores. No alia phaedrum his.
          </p>
        </div>
        <div id="partners" class="anchor"></div>
        <div class="legal-container">
          <h2>Partners &amp; Affiliates </h2>
          <p>
            Lorem ipsum dolor sit amet, adipisci omittantur te mel. Id omnis vivendum usu, ut has vidisse contentiones, an intellegebat signiferumque mel. Quo illum homero appetere cu. Cum tempor iriure discere ea, at sea harum diceret tincidunt, ei cetero philosophia sed. Equidem repudiandae deterruisset qui ne, mea ei reque soleat theophrastus, iudico noster qualisque mea ne.
            Ut has sonet primis disputationi. Alii stet voluptua no vix, ne nulla voluptaria mei. Vis ne noster nostrud eligendi, et sint voluptatibus usu, congue repudiandae id est. Ne harum platonem gubergren usu, eam quidam debitis eu, usu platonem disputationi ei.
            Tibique suavitate similique ut sea, quodsi quaestio eam in. Has at regione electram adipiscing, nonumy sapientem persequeris nec in. Et volumus recteque mei, nostro adipisci necessitatibus at sed, porro audiam quo at. Ea duo erant simul incorrupte, ei vix ignota percipit, cu nisl doctus nec. Id vide nullam efficiendi nam, mei ei solum errem, tation soluta antiopam sed in.
            Eos ut ridens detraxit, agam virtute ad sea. Quis viris in vel. Mucius detracto luptatum ut eos, vis id postulant vulputate. Vix ut adhuc gloriatur, at dolore aperiri nostrud ius. Eos mollis prodesset ea, appetere invenire iracundia id eam. Usu expetenda mnesarchum ei.
            An pro dicat dicit tractatos, harum soluta dissentiet te sit. Ex abhorreant deterruisset consectetuer sea. Mel reque malis persius ne, et eam tation torquatos. Verear discere dignissim et usu, stet labitur ex pro, ex eos quis veritus dolores. No alia phaedrum his.
          </p>
        </div>
        <div id="careers" class="anchor"></div>
        <div class="legal-container">
          <h2>Careers </h2>
          <p>
            Lorem ipsum dolor sit amet, adipisci omittantur te mel. Id omnis vivendum usu, ut has vidisse contentiones, an intellegebat signiferumque mel. Quo illum homero appetere cu. Cum tempor iriure discere ea, at sea harum diceret tincidunt, ei cetero philosophia sed. Equidem repudiandae deterruisset qui ne, mea ei reque soleat theophrastus, iudico noster qualisque mea ne.
            Ut has sonet primis disputationi. Alii stet voluptua no vix, ne nulla voluptaria mei. Vis ne noster nostrud eligendi, et sint voluptatibus usu, congue repudiandae id est. Ne harum platonem gubergren usu, eam quidam debitis eu, usu platonem disputationi ei.
            Tibique suavitate similique ut sea, quodsi quaestio eam in. Has at regione electram adipiscing, nonumy sapientem persequeris nec in. Et volumus recteque mei, nostro adipisci necessitatibus at sed, porro audiam quo at. Ea duo erant simul incorrupte, ei vix ignota percipit, cu nisl doctus nec. Id vide nullam efficiendi nam, mei ei solum errem, tation soluta antiopam sed in.
            Eos ut ridens detraxit, agam virtute ad sea. Quis viris in vel. Mucius detracto luptatum ut eos, vis id postulant vulputate. Vix ut adhuc gloriatur, at dolore aperiri nostrud ius. Eos mollis prodesset ea, appetere invenire iracundia id eam. Usu expetenda mnesarchum ei.
            An pro dicat dicit tractatos, harum soluta dissentiet te sit. Ex abhorreant deterruisset consectetuer sea. Mel reque malis persius ne, et eam tation torquatos. Verear discere dignissim et usu, stet labitur ex pro, ex eos quis veritus dolores. No alia phaedrum his.
          </p>
        </div>

      </div>
    </div>
</section>
