.panel{
    margin-top: 73px;
    margin-bottom: 80px;
    &.activated{
        margin-left: 225px;
    }
}

@media only screen and (max-width : 768px) {
    .panel {
        &.activated{
            margin-left: 0;
        }
    }
  }