<div class="row" *ngIf="loadLayout">
    <div class="col-xs-12">
        <app-header></app-header>
    </div>
</div>

<div class="row" *ngIf="loadLayout">
    
    <app-sidebar *ngIf="isEditor"></app-sidebar>
    
    <div class="col-xs-12">        
        <section class="panel" ngClass="{{sidePanel}}">
            <router-outlet></router-outlet>
        </section>
    </div>
</div>

<div class="row" *ngIf="loadLayout">
    <div class="col-xs-12">
        <app-footer></app-footer>
    </div>
</div>
