/* You can add global styles to this file, and also import other style files */
@import "~flexboxgrid/dist/flexboxgrid.min.css";
@import url('https://fonts.googleapis.com/css?family=Muli');


* {
    font-family: 'Muli', sans-serif;
}

*:focus {
    outline: none;
}

body {
    margin: 0;
    padding: 0;
    background-color:#fff;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.button-group-columns {
  display: flex;
  justify-content: space-evenly;
}

.column-button {
  height: 50px;
  line-height: 25px;
  color: #ffffff;
  width: 90px;
  background-color: #1dbec4;
  border-radius: 25px;
}

.col-xs-12, .col-sm-12 {
  padding-left: 0;
  padding-right: 0;
}

/*     ---- Style Guide ------  */

/*Colors*/  /*According http://chir.ag/projects/name-that-color*/
$mine-shaft: #252525;
$regent-grey: #8d99a0;
$java: #1dbec4;
$gallery: #ebebeb;
$surfie-green: #108682;
$white: #fff;
$black: #000;
$red: #FF0000;
$salem: #077E40;
$ripe-lemon: #F3E61B;


/*Fonts family*/
$font-muli-light: 'Muli-Light', sans-serif;
$font-muli-regular: 'Muli-Regular', sans-serif;
$font-muli-bold: 'Muli-Bold', sans-serif;
$font-muli-black: 'Muli-Black', sans-serif;

/* Font Sizes */
$font-12: 12px;
$font-14: 14px;
$font-16: 16px;
$font-18: 18px;
$font-20: 20px;
$font-24: 24px;
$font-34: 34px;

/* Font Wheights*/
$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;

.bold{
  font-weight: $bold;
}
/* Mixins */
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

/*text align*/
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}
/*margin*/
.margin-bottom-20{
  margin-bottom: 20px;
}

/* Messages */
.message {
  border: 1px solid $white;
  padding: 10px;
  color: $mine-shaft;
}
.success {
  @extend .message;
  border-color: $salem;
}
.error {
  @extend .message;
  border-color: $red;
}
.warning {
  @extend .message;
  border-color: $ripe-lemon;
}

/* P tag */
p{
  font-size: 14px;
  font-family: 'Muli';
}

/* H tag */
h1{
  font-size: 32px;
  text-align: center;
  font-family: $font-muli-black;
  font-weight: 700;
}

h2{
  font-size: 24px;
  text-align: center;
}

h3{
  font-size: 16px;
}


/* Buttons */

button, button:hover, button:visited{
  border: none;
  outline: none !important;
  text-decoration: none !important;
  box-shadow: none !important;
}

.btn-primary{
    position: relative;
    background-color: $java;
    color: $white;
    @include border-radius(25px);
    font-size: $font-14;
    cursor: pointer;
}
.btn-primary:hover{
  background-color: $surfie-green;
}

.btn-secondary{
  font-size: $font-18;
  color: $regent-grey;
  background: transparent;
  cursor: pointer;
}

.btn-secondary:hover{
  background-color: transparent;
  color: $java;
}

.btn-tertiary{
    position: relative;
    background-color: transparent;
    color: $java;
    border: 2px solid $java;
    @include border-radius(25px);
    font-size: $font-14;
    cursor: pointer;
}
.btn-tertiary:hover{
  background-color: transparent;
  border: 2px solid $java;
}

.btn-left-radius{
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.btn-right-radius{
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.btn-over-video{
  border: 2px solid $white;
  color: $white;
  background: rgba(10, 54, 54, 0.5);
}
.btn-over-video:hover{
  border: 2px solid $white;
  color: $white;
  background: rgba(10, 54, 54, 0.5);
}

.btn-no-radius{
  border-radius: 0px;
}

/* Sidebar button */
.btn-sidebar{
  width: 100%;
  height: 140px;
  background-color: $mine-shaft;
  color: $white;
  padding: 40px 20px;
  text-align: left;
  cursor: pointer;

  .btn-sidebar-title{
    font-size: $font-20;
    text-transform: uppercase;
  }
}
.btn-sidebar:hover{
  background-color: $java;
}
.btn-sidebar:focus, .btn-sidebar:active, .btn-sidebar:visited{
  background-color: #464646;
}

/* Inputs */

input, input:hover, input:visited, input:focus{
  outline: none !important;
  text-decoration: none !important;
  box-shadow: none !important;
}

.input-primary{
  border: 2px solid #c8c8c8;
  @include border-radius(25px);
}

.input-btn-radio{
  width: 20px;
  height: 20px;
  position: relative;
  top: 2px;
}
.input-btn-radio[type='radio']:checked:after {
        width: 15px;
        height: 15px;
        border-radius: 15px;
        left: 2px;
        top: 0px;
        position: relative;
        background-color: $java;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid $white;
    }

.radius-standar{
  @include border-radius(25px);
}




/* ----- Video Container -------*/
.video-block-container{
  width: 300px;
  display: inline-block;

  .margin-25{  margin: 25px;}
  .video-thumb-container{
      width: 300px;
      height: 300px;
      padding: 0;

      video {
          width: 100%;
          height: 100%;
          background-color: $black;
      }
  }
}

.video-small-block-container{
  width: 300px;
  display: inline-block;
  position: relative;

  .margin-25{  margin: 25px;}
  .video-small-container{
      padding: 0;

      video {
          width: 100%;
          height: 160px;
          background-color: $black;
      }
      .over-video{
        position: absolute;
        width: 100px;
        margin: 0 auto;
        top:50%;
        left: 50%;
        margin: -25px 0 0 -50px;
      }
  }
}

// My library styles
//colors
$color_gray: #f0f5f4;
$white: #fff;
$color_dark: #3c4a50;

%extend_1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bg-section, .infos {
  padding: 40px;
  background-color: $color_gray;
  .no-gutters>.col, .no-gutters>[class*=col-] {
    padding-right: 1px;
    padding-left: 1px;
  }
}
.search-container {
  padding: 40px 0;
}
.search-input {
  width: 100%;
}
.container-img {
  position: relative;
  margin: 0 auto;
  max-width: 1000px;
  list-style: none;
  text-align: center;
  figure {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 1px;
    // min-width: 320px;
    // max-width: 480px;
    // max-height: 360px;
    width: 100%;
    text-align: center;
    cursor: pointer;
    img {
      position: relative;
      display: block;
      min-height: 100%;
      max-width: 100%;
    }
    figcaption {
      padding: 2em;
      color: $white;
      font-size: 1.25em;
      backface-visibility: hidden;
      @extend %extend_1;
      > a {
        @extend %extend_1;
      }
    }
    figcaption::before {
      pointer-events: none;
    }
    figcaption::after {
      pointer-events: none;
    }
  }
}
figure.effect-image {
  img{
    height: 100%; width: 100%; background-size: cover
  }
  figcaption {
    top: auto;
    bottom: 0;
    padding: 1em;
    background: rgba(253, 251, 251, 0.75);
    color: $color_dark;
    transition: transform 0.35s;
    transform: translate3d(0,100%,0);
    .icon-links {
      position: relative;
      top: 50%;
      margin: 0 auto;
    }
    [class^="right-"], [class^="left-"]{
      color: black;
      span{
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
      }
    }
    .right-top-link {
      position: absolute;
      right: 0;
      top: 0;
      font-size: 20px;
      padding: 20px;
    }
    .left-top-link {
      position: absolute;
      left: 0;
      top: 0;
      font-size: 20px;
      padding: 20px;
    }
    .left-bottom-link {
      position: absolute;
      left: 0;
      bottom: 0;
      font-size: 20px;
      padding: 20px;
    }
    .right-bottom-link {
      position: absolute;
      right: 0;
      bottom: 0;
      font-size: 20px;
      padding: 20px;
    }
  }
  p {
    &.description {
      position: absolute;
      bottom: 8em;
      padding: 2em;
      color: $white;
      text-transform: none;
      font-size: 90%;
      opacity: 0;
      transition: opacity 0.35s;
    }
    &.icon-links a {
      transition: transform 0.35s;
      transform: translate3d(0,200%,0);
      span::before {
        display: inline-block;
        padding: 8px 10px;
        speak: none;
      }
    }
  }
  span {
    transition: transform 0.35s;
    transform: translate3d(0,200%,0);
  }
  &:hover {
    p {
      &.description {
        opacity: 1;
      }
      &.icon-links a {
        transform: translate3d(0,0,0);
        &:nth-child(3) {
          transition-delay: 0.1s;
        }
        &:nth-child(2) {
          transition-delay: 0.15s;
        }
        &:first-child {
          transition-delay: 0.2s;
        }
      }
    }
    figcaption {
      transform: translate3d(0,0,0);
    }
  }
}

.btn{
  &.btn-primary{
    border: none;
    background-color: #1dbec4;
    &:hover{
      background-color: #108682;
    }
  }
  &.btn-succes-clone{
    font-family: 'Muli', sans-serif;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.6);
    border: 2px solid white;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    color: white;
    padding: .5rem 1.7rem;
    line-height: 1.5;
    &:hover{
      background-color: rgba(0, 0, 0, 0.9);
      color: white;
      transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
  }
}

