@import '../../../../core/styles/core-mixins';
.bg-section{
  background-color: transparent;
}
.d-block{
  &.infos{
    background-color: transparent;
  }
}
p{
  &.col_description{
    margin-bottom: 0;
    height: 60px;
    padding-top: 18px;
    padding: 18px 5px 18px 0;
    font-size: 13px;
    text-align: center;
  }
}

.search-list{
  display: flex;
  flex-wrap: wrap;
  -webkit-padding-start: 0px;
  margin-bottom: 0px;
}
.search-item{
  padding: 4px 5px 0px 10px;
  list-style-type: none;
  border: 2px solid #1dbec4;
  font-size: 14px;
  margin: 5px;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  height: 30px;
}

.column{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 36px;
  height: 36px;
  margin: 12px 0px;
  .cell_2{
    width: 16px;
    height: 16px;
    margin: 1px;
    background-color: #8a8f90;
    &.active {
      background-color: #1dbec4;
    }
  }
  .cell_4{
    width: 10px;
    height: 10px;
    margin: 1px;
    background-color: #8a8f90;
    &.active {
      background-color: #1dbec4;
    }
  }
}
.search-container-mobile{
  display: none;
}
.search-container, .search-container-mobile {
  padding: 40px 15px;
  width: 100%;
  .search-input, select {
    height: 60px;
    line-height: 25px;
    color: rgb(145, 145, 145);    
  }
  .search-group {
    border-bottom-right-radius: 60px;
    border-top-right-radius: 60px;
    display: flex;
    flex-wrap: wrap;
  }
  .input-group {
    padding: 0 0 10px 0;
    .input-group-addon {
      @include border-left-radius(60px);
      padding: 0 20px;
      span {
        &.fa {
          color: #1dbec4;
          font-size: 20px;
        }
      }
    }
    input {
      max-width: 100%;
      box-sizing:border-box;
      height: 40px;
      background-color: transparent;
      border: none;
      // @include border-right-radius(60px);
    }   
    
  } 
  
  select {
    @include appareance-prefix(none);
    @include border-radius-all(60px);
    outline: 0;
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, .15);
    width: 100%;
    padding: 0 0 0 20px;
    margin: 0;
    cursor: pointer;
    background-color: white;
    &::-ms-expand {
      display: none;
    }
  }
  .select {
    position: relative;
    display: block;
    overflow: hidden;
    background-color: white;
    &:hover{
      &::after{
        color: #1dbec4;
      }
    }
    &::after {
      content: '\25BC';
      position: absolute;
      top: 22px;
      right: 15px;
      bottom: 0;
      pointer-events: none;
      font-size: 12px;
      color: rgb(145, 145, 145);
      -webkit-transition: .25s all ease;
      -o-transition: .25s all ease;
      transition: .25s all ease;
    }
  }
}

.tab-group{
  display: flex;
  
  .tab{
    margin: 0 25px 0 25px;
    &:hover{
      color: #1dbec4;
    }
  }
  .active{
    color: #1dbec4;
  }
}

.radio-group{
  display: flex;
  justify-content: flex-end;
  label{
    margin: 0 20px 0 20px;
  }
  input:checked ~ .checkmark {
    color: #1dbec4;
  }
  input[type=radio]:checked ~ .check::before{
    border-color: #0DFF92;
  }
}

.nav-group {
  display: none;
  
}


figure.effect-image {
  display: none;
  background-color: rgba(0, 0, 0, 0.15);
  &.active{
    display: block;
  }
  &.selected{
    border: solid 4px #1dbec4;
    .right-bottom-link-plus, figcaption{
      display: none;
    }
    .right-bottom-link-check{
      display: block;
    }
  }
  img{
    height: 100%; width: 100%; background-size: cover
  }
  .progress-gray{
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    bottom: 0;
    display: none;
    &.active{
      display: block;
    }
  }
  .right-bottom-link-plus, .right-bottom-link-check{
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 20px;
    padding: 10px;
    color: white;
  }
  .right-bottom-link-check{
    display: none;
  }
  figcaption {
    background: rgba(0, 0, 0, 0.05);     
    [class^="right-"], [class^="left-"]{
      color: white;
      span{
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
      }
    }
    .right-bottom-link{
      padding: 0 5px 10px 0;
    }
    .left-bottom-link{
      text-align: left;
      p{
        font-size: 12px;
        margin: 0;
        &.title{
          font-weight: bold;
        }
      }
    }  
  }  
}

.audio-thumb-container{
  width: 100%;

  video {
      display: block;
      width: 100%;
      height: 100%;
      background-color: #fff;
  }
}

.audio-list{
  display: none;
  padding: 0;
  flex-wrap: wrap;
  // background-color: #0DFF92;
  &.active{
    display: flex;
  }
  .audio-detail{
    display: flex;
    width: 100%;
    
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
    .thumb-img{
      // background-color: #0DFF92;
      display: flex;
      text-align: left;
      padding: 0;
      &:hover{
        .center-icons{
          &.play-icon{
            &.active{
              display: block;
            }
          }
          &.pause-icon{
            &.active{
              display: block;
            }
          }
        }
      }
      img{
        width: 70px;
        height: 70px;
      }
      .detail{
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .title{
          font-size: 14px;
          font-weight: bold;
        }
        .type{
          font-size: 12px;
        }
      }
      .center-icons{
        position: absolute;
        top: 33px;
        left: 29px;
        color: #ffffff;
        display: none;
      }
    }
    .wave-form{
      background-color: transparent;
      padding: 0;
      .progress-gray{        
        position: relative;
        height: 100%;
        width: 0%;
        background-color: rgba(0, 0, 0, 0.25);
        display: none;
        &.active{
          display: block;
        }
      }
    }
    .options{
      display: flex;
      justify-content: space-between;
      padding: 0 0 0 20px;
      span{
        padding: 23px 0;
      }
      i{
        padding: 27px 0;
        &:hover{
          color: #1dbec4;
        }
      }
      a{
        margin: 14px 0;
        border: solid 2px #1dbec4;
        background-color: transparent;
        color: #1dbec4;
        &:hover{
          background-color: #1dbec4;
          color: #ffffff;
        }
      }
    }
  }
  .audio-border{
    width: 100%;
    height: 2px;
    border: solid 1px #8a8f90;
  }
}

@media only screen and (max-width : 768px) {
  .container {
    &.search-container{
      display: none;
    }
    &.search-container-mobile{
      display: block;
      padding: 0;
      margin-left: 0;
      margin-right: 0;
      max-width: 100%;
      .input-group{
        padding: 10px 20px;
      }
    }
   
  }

  .tab-group{
    padding: 12px 0;
    justify-content: flex-start;   
    .tab{
      margin: 0 20px;
    }
    .active{
      color: #1dbec4;
    }
  }

  .button-group-columns{
    justify-content: flex-end;
  }

  .nav-group {
    display: flex;
    width: 100%;
    height: 80px;
    background-color: #dae0df;
    .mobile-btn{
      padding: 10px 0;
      text-align: center;
      display: inline-block;
      width: 130px;
      margin: 0 auto;
      .btn-library, .btn-video, .btn-music{
        width: 30px;
        position: relative;
        height: 30px;
        display: inline-block;
        top: 6px;
        margin-right: 5px;        
      }
      &.video{
        .btn-video{
          background-image: url(/assets/icon-video.png);
        }
        &:hover{
          .btn-video{
            background-image: url(/assets/icon-video-active.png);
          }
          .description{
            color: #1dbec4;
          }
        }
      }
      &.library{
        .btn-library{
          background-image: url(/assets/icon-library.png);
        }
        
        &:hover{
          .btn-library{
            background-image: url(/assets/icon-library-active.png);
          }
          .description{
            color: #1dbec4;
          }
        }
      }
      &.music{
        .btn-music{
          background-image: url(/assets/icon-music-active.png);
        }
        .description{
          color: #1dbec4;
        }
        &:hover{
          .btn-music{
            background-image: url(/assets/icon-music-active.png);
          }
          .description{
            color: #1dbec4;
          }
        }
      }       
    }    
  }
}



