<!-- <div class="spinner" *ngIf="editorService.currentProject && editorService.currentProject.OpenSId == 0">
  Please wait, we are setting up your project configuration...
</div>

<div *ngIf="editorService.currentProject && editorService.currentProject.OpenSId != 0">
  <h2>Audio Step</h2>

  <a class="btn btn-primary" routerLink="/editor/add-voiceover">NEXT STEP</a>
</div> -->


<div class="container search-container-mobile">  
  <div class="row">
    <div class="col-12 col-sm-12 nav-group">
        <button class="mobile-btn video col" routerLink="/editor/add-videos">
          <div class="btn-video"></div>
          <div class="description">Video</div>
        </button>
        <button class="mobile-btn music col" routerLink="/editor/add-audios">
          <div class="btn-music"></div>
          <div class="description">Music</div>
        </button>
        <button class="mobile-btn library col" routerLink="/library">
          <div class="btn-library"></div>
          <div class="description">My Library</div>
        </button>
    </div>

    <div class="input-group">
      <div class="input-group-addon"><span class="fa fa-search"></span></div>
      <div class="form-control search-group">
        <div class="search-list">
            <div *ngFor="let item of multiSearchService.searchItemList ; let i=index" class="search-item">
              <span class="word">{{item}}</span>
              <span (click)="onDelete(i)">
                <i class="fa fa-times"></i>
              </span>
            </div>
            <input type="text" class="form-control search-input" (keyup)="keyEvent($event)" [(ngModel)]="searchItem">
          </div>          
      </div>      
    </div>

    <div class="col-7 col-sm-7 tab-group">
      <div class="tab active">
          <span>Browse</span>
        </div>
        <div class="tab">
          <span>Favourite</span>
        </div>
    </div>

    <div class="col-5 col-sm-5 button-group-columns">      
      <!-- <button type="button" class="form-control column-button" (click)="on4Columns()">Build Ad</button> -->
      <div class="column" (click)="on2Columns()">
          <div class = "cell_2 {{columns2}}"></div>
          <div class = "cell_2 {{columns2}}"></div>
          <div class = "cell_2 {{columns2}}"></div>
          <div class = "cell_2 {{columns2}}"></div>
        </div>
        <div class="column" (click)="on4Columns()">
            <div class = "cell_4 {{columns4}}"></div>
            <div class = "cell_4 {{columns4}}"></div>
            <div class = "cell_4 {{columns4}}"></div>
            <div class = "cell_4 {{columns4}}"></div>
            <div class = "cell_4 {{columns4}}"></div>
            <div class = "cell_4 {{columns4}}"></div>
            <div class = "cell_4 {{columns4}}"></div>
            <div class = "cell_4 {{columns4}}"></div>
            <div class = "cell_4 {{columns4}}"></div>        
        </div>
    </div>

  </div>  
</div>


<div class="container search-container">
  <div class="row">
    <div class="col-12 col-sm-6 col-md-2 select-group">
      <div class="select">
        <select name="header" id="header" (change)="sort($event.target.value)">
          <option value="collection_code">Sort by: collection_code</option>
          <option value="collection_name">Sort by: collection_name</option>
          <option value="asset_family">Sort by: asset_family</option>
        </select>
        <label for="header"></label>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-2 button-group-columns">
      <div class="column" (click)="on2Columns()">
          <div class = "cell_2 {{columns2}}"></div>
          <div class = "cell_2 {{columns2}}"></div>
          <div class = "cell_2 {{columns2}}"></div>
          <div class = "cell_2 {{columns2}}"></div>
        </div>
        <div class="column" (click)="on4Columns()">
            <div class = "cell_4 {{columns4}}"></div>
            <div class = "cell_4 {{columns4}}"></div>
            <div class = "cell_4 {{columns4}}"></div>
            <div class = "cell_4 {{columns4}}"></div>
            <div class = "cell_4 {{columns4}}"></div>
            <div class = "cell_4 {{columns4}}"></div>
            <div class = "cell_4 {{columns4}}"></div>
            <div class = "cell_4 {{columns4}}"></div>
            <div class = "cell_4 {{columns4}}"></div>        
        </div>
    </div>
    <div class="col-12 col-sm-12 col-md-5">
      <div class="input-group">
          <div class="input-group-addon"><span class="fa fa-search"></span></div>
          <div class="form-control search-group">
            <div class="search-list">
                <div *ngFor="let item of multiSearchService.searchItemList ; let i=index" class="search-item">
                  <span class="word">{{item}}</span>
                  <span (click)="onDelete(i)">
                    <i class="fa fa-times"></i>
                  </span>
                </div>
                <input type="text" class="form-control search-input" (keyup)="keyEvent($event)" [(ngModel)]="searchItem">
              </div>
              
          </div>
          
        </div>
        
    </div>
    <div class="col-12 col-sm-12 col-md-3 button-group-columns">
      <!-- <p class="col_description" >Your selected clips {{selectedVidCount}}</p> -->
      <!-- <button type="button" class="form-control column-button" (click)="on4Columns()">Build Ad</button> -->

    </div>      
  </div>
  <div class="row">
    <div class="tab-group col-12 col-sm-12 col-md-6">
      <div class="tab active">
        <span>Browse</span>
      </div>
      <div class="tab">
        <span>Favourite</span>
      </div>
      <div class="tab">
        <span>My Uploads</span>
      </div>
    </div>
    <div class="radio-group col-12 col-sm-12 col-md-6">
        <label class="radio-container">
          <input type="radio" checked="checked" name="radio">
          <span class="checkmark">Standard</span>
        </label>
        <label class="radio-container">
          <input type="radio" name="radio">
          <span class="checkmark">Premium</span>
        </label>
    </div>
  </div>
</div>
  
<div infiniteScroll [infiniteScrollDistance]="0" [infiniteScrollThrottle]="500" (scrolled)="onScroll($event)"
      class="bg-section">
  <div class="row no-gutters" *ngIf="editorService.currentProject && editorService.currentProject.OpenSId != 0">
    <!-- <div *ngFor="let i of list | multiSearchFilter: itemList[0] : itemList[1] :itemList[2] : itemList[3] : itemList[4]" ngClass="{{columns}}"> -->
    <div *ngFor="let audio of (post$ | async) | multiSearchFilter: itemList[0] : itemList[1] :itemList[2] : itemList[3] : itemList[4] ; let i=index" ngClass="{{columns}}">
        <figure id="id{{i}}" class="effect-image {{isBlockView}}" *ngIf="audio.thumbnail_url" (mouseenter)="displayfCursor(i)" (mouseleave)="hidefCursor(i)" (mousemove)="movefCursor($event, i)" (click)="blockOnClick($event, i)">
          <img [src]="audio.thumbnail_url" alt="{{audio.title}}" (click)="addVideo('audio', audio)"/>
          <div id="fprogress{{i}}" class="progress-gray" [style.width]="progress">                
          </div>
          <div id="fpointer{{i}}" class="cursor" [style.left.px]="cursorPointer"></div>
          <div class="audio-thumb-container">
            <audio id="audio{{i}}" >
              <source src="{{audio.preview_url}}" type="audio/mp3" />
              Your browser does not support HTML5 video.
            </audio>
          </div>          
          <div class="right-bottom-link-check" (click)="disCountSelectedVid(i)">
            <i class="fa fa-check"></i>
          </div>
          <figcaption>              
            <div class="right-top-link">
              <i class="fa fa-star-o"></i>
            </div>
            <div class="left-bottom-link">
              <p class="title">{{audio.title}}</p>
              <p class="type">{{audio.type}}</p>
            </div>
            <div class="right-bottom-link" (click)="countSelectedVid(i)">
                <a class="btn btn-lg btn-primary">
                  <span>Add</span>
                </a>
            </div>            
          </figcaption>          
        </figure>
        <div class="container audio-list col-xl-12 {{isListView}}">
          <div class="audio-detail col-xl-12">
            <div class="thumb-img col-4 col-sm-4 col-md-3 col-lg-3">
              <div class="thumbnail">
                <img [src]="audio.thumbnail_url" alt="{{audio.title}}">
              </div>
              <div class="detail">
                <span class="title">{{audio.title}}</span>
                <span class="type">{{audio.type}}</span>
              </div>
              <div class="center-icons play-icon active" (click)="onClickPlay(i)" id="playicon{{i}}">
                <i class="fa fa-play"></i>
              </div>
              <div class="center-icons pause-icon" (click)="onClickPause(i)" id="pauseicon{{i}}">
                <i class="fa fa-pause"></i>
              </div>
            </div>
            <div id="waveform{{i}}" class="wave-form col-4 col-sm-5 col-md-6 col-lg-7" [ngStyle]="{'background': 'url(' + audio.thumbnail_url + ')', 'background-size': '100% 100%', 'overflow': 'hidden'}" (click)="listOnClick($event, i)" (mousemove)="moveCursor($event, i)" (mouseenter)="displayCursor(i)" (mouseleave)="hideCursor(i)">                           
              <div id="progress{{i}}" class="progress-gray" [style.width]="progress">                
              </div>
              <div id="pointer{{i}}" class="cursor" [style.left.px]="cursorPointer"></div>
                  
            </div>
            <div class="options col-4 col-sm-3 col-md-3 col-lg-2">
              <span>{{ audio.duration/60-audio.duration%60/60 < 10 ? '0'+(audio.duration/60-audio.duration%60/60) : audio.duration/60-audio.duration%60/60 }}:{{ audio.duration%60 < 10 ? '0'+audio.duration%60 : audio.duration%60 }}</span>
              <i class="fa fa-star-o"></i>
              <a class="btn btn-lg btn-primary" (click)="addVideo('audio', audio)">
                <span>Add</span>
              </a>
            </div>
          </div>
          <div class="audio-border col-xl-12"></div>
        </div>
    </div>
  </div>
</div>
<div class="d-block infos">
  <div *ngIf="!finished" class="text-center">
    Loading ...
  </div>
  <div *ngIf="finished" class="text-center">
    End of database...
  </div>
</div>