<section class="pricing">
  <h1>Pricing Plans</h1>
  <div class="row">
      <div class="col-sm-12">
          <div class="plans">
            <div class="row">
              <div class="col-sm-6">
                <div class="plan-container text-right">
                  <div class="pricing-icon video-logo"></div>
                  <div class="standard-premium-txt"><b>Standard video content</b> (1 clip = 1 credit)<br><b>Premium video content</b> (1 clip = 10 credits)</div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="plan-container text-left">
                  <div class="pricing-icon audio-logo"></div>
                  <div class="standard-premium-txt"><b> Standard audio content</b> (1 clip = 1 credit)<br><b>Premium audio content</b> (1 clip = 10 credits)</div>
                </div>
              </div>
            </div>
          </div>
      </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="subscription-payment">
        <!--Subscription component here -->
        <subscription-payment></subscription-payment>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="options-license-plan">
        <h2 class="agency-agreement-title">Agency Reseller Agreement</h2>
        <span class="license-txt-1">Sell your completed videos onto your clients</span>
        <a class="license-link-1" routerLink="/legal" fragment="terms">​​​​​​​See terms and conditions</a>
        <span class="license-txt-2">£XXX per year</span>
        <button class="btn btn-primary" routerLink="/dashboard">Purchase Extended Licence</button><br>
        <span class="license-txt-3">This is an additional cost to your standard price plan</span>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="up-your-plan-container">
        <h2 class="up-your-plan-title">Top-up your plan</h2>
        <span class="up-your-plan-subtitle">You can purchase extra clips on top of your plan allowance</span>
        <span class="credit-txt">1 credit = <b>£5</b></span>
        <span class="credit-txt">5 credit = <b>£20</b></span>
        <span class="credit-txt">10 credit = <b>£35</b></span>
        <span class="credit-txt">20 credit = <b>£60</b></span>
        <span class="credit-txt">50 credit = <b>£120</b></span>
        <span class="credit-txt">100 credit = <b>£200</b></span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="footer-pricing">
        Terms and Conditions notes:<br>
        Unused credits are carried over monthly. Credits are terminated if subscription plan is cancelled<br>
        *Applies only to user uploaded content or where credits are availble.<br>
      </div>
    </div>
  </div>
</section>