@import './../../../../../styles.scss';

$subscription-color-background: #f0f5f4;
$footer-pricing-txt: #a5a5a5;

.pricing{
 padding: 20px 0;

    .subscription-payment{
        background-color: $subscription-color-background;
        margin:10px 0;
        padding: 15px;
    }

    .options-license-plan{
        text-align: center;
        margin: 50px 0;
        .btn-purchase-extended{
            padding: 15px 35px;
        }
        .agency-agreement-title{
            margin:15px 0;
        }
        .license-txt-1{
            display:block;
            font-size:14px;
            margin:20px 0;
        }
        .license-link-1{
            display:block;
            font-size:14px; 
            margin:10px 0;
        }
        .license-txt-2{
            display:block;
            font-weight:bold; 
            font-size:24px; 
            margin:20px 0;
        }
        .license-txt-3{
            display:block; 
            font-size:12px; 
            margin:10px 0;
        }
    }

    .up-your-plan-container{
        text-align: center; 
        margin: 50px 0;
        .up-your-plan-title{
            margin:15px 0;
        }
        .up-your-plan-subtitle{
            display:block;
            font-size:14px; 
            margin:0 0 20px 0;
        }
        .credit-txt{
            display:block;
        }
    }

    .footer-pricing{
        margin:30px;
        color: $footer-pricing-txt;
    }


}


@media (max-width: 768px) {
    .pricing{
        .plan-container{
            text-align: center !important;
        }
    }
}