<div class="container search-container">
  <h1 class="text-center">My library</h1>
  <div class="row">
    <div class="col-12 col-sm col-md">
      <div class="select">
        <select name="header" id="header" (change)="sort($event.target.value)">
          <option value="collection_code">Sort by: collection_code</option>
          <option value="collection_name">Sort by: collection_name</option>
          <option value="asset_family">Sort by: asset_family</option>
        </select>
        <label for="header"></label>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-6">
      <!-- <app-multi-search></app-multi-search> -->
      <!-- <div class="input-group">
        <div class="input-group-addon"><span class="fa fa-search"></span></div>
        <input type="text" class="form-control search-input" [(ngModel)]="search">
      </div> -->
      <div class="input-group">
          <div class="input-group-addon"><span class="fa fa-search"></span></div>
          <div class="form-control search-group">
            <div class="search-list">
                <div *ngFor="let item of multiSearchService.searchItemList ; let i=index" class="search-item">
                  <span class="word">{{item}}</span>
                  <span (click)="onDelete(i)">
                    <i class="fa fa-times"></i>
                  </span>
                </div>
                <input type="text" class="form-control search-input" (keyup)="keyEvent($event)" [(ngModel)]="searchItem">
              </div>
              
          </div>
          
        </div>
        
    </div>
    <div class="col-12 col-sm col-md button-group-columns">
      
        <button type="button" class="form-control column-button" (click)="on2Columns()">2Columns</button>
        <button type="button" class="form-control column-button" (click)="on4Columns()">4Columns</button>
      
    </div>
  </div>
</div>

<div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="10" (scrolled)="onScroll($event)"
     class="bg-section">
  <div class="row no-gutters" *ngIf="list">
    <div *ngFor="let i of list | multiSearchFilter: itemList[0] : itemList[1] :itemList[2] : itemList[3] : itemList[4]" ngClass="{{columns}}">
    <!-- <div *ngFor="let i of temp" ngClass="{{columns}}"> -->
      <div class="" *ngFor="let it of i.display_sizes">
        <figure class="effect-image" *ngIf="it.name === 'thumb'">
          <img [src]="it.uri" alt="{{it.name}}"/>
          <figcaption>
            <div class="left-top-link">
              <i class="fa fa-download"></i>
            </div>
            <div class="right-top-link">
              <i class="fa fa-trash-o"></i>
            </div>
            <div class="left-bottom-link">
              <i class="fa fa-trash-o"></i>
              <span>date created</span>
            </div>
            <div class="right-bottom-link">
              <i class="fa fa-trash-o"></i>
            </div>
            <div class="icon-links">
              <a href="#" class="btn btn-lg btn-primary">
                <span>Edit</span>
              </a>
              <a href="#" class="btn btn-succes-clone btn-lg">
                <span>Clone & edit</span>
              </a>
            </div>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</div>
<div class="d-block infos">
  <div *ngIf="!finished" class="text-center">
    Loading ...
  </div>
  <div *ngIf="finished" class="text-center">
    End of database...
  </div>
</div>

<!-- -->

<!--<div class="spinner" *ngIf="editorService.currentProject && editorService.currentProject.OpenSId == 0">-->
<!--Please wait, we are setting up your project configuration...-->
<!--</div>-->

<!--<div *ngIf="editorService.currentProject && editorService.currentProject.OpenSId != 0">-->
<!--<h2>Videos Step</h2>-->

<!--<ul class="row">-->
<!--<h4 *ngIf="!list.length">Loading videos</h4>-->
<!--<li class="col col-xs-2 col-sm-3" *ngFor="let video of list; index as i;">-->
<!--<img [src]="video.display_sizes[3].uri" alt="" (click)="addVideo('video', video)">-->
<!--</li>-->
<!--</ul>-->

<!--<a class="btn btn-primary" routerLink="/editor/add-audios">NEXT STEP</a>-->
<!--</div>-->
