<div class="spinner" *ngIf="editorService.currentProject && editorService.currentProject.OpenSId == 0">
  Please wait, we are setting up your project configuration...
</div>

<div *ngIf="editorService.currentProject && editorService.currentProject.OpenSId != 0">
  <h2>Videos Step</h2>

  <ul class="row">
    <h4 *ngIf="!list.length">Loading videos</h4>
    <li class="col col-xs-2 col-sm-3" *ngFor="let video of list; index as i;">
      <img [src]="video.display_sizes[3].uri" alt="" (click)="addVideo('video', video)">
    </li>
  </ul>

  <a class="btn btn-primary" routerLink="/editor/add-audios">NEXT STEP</a>
</div>